# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Database files
*.slnx.sqlite
*.sqlite

# Database journal/lock files
*.db-shm
*.db-wal
*.opendb
*.slnx.sqlite

# JSON files in the .vs folder
.vs/**/*.json
!*.vs/ProjectSettings/LaunchProfiles.json

# More user-specific files
*.wsuo
